#property('summary', 'Clean Lets Encrypt Challenge as entries in dataclass acme_responses')
#device($alteons, 'type=alteon[]')

#param($TOKEN_FILENAME,'string','in', 'prompt=Challenge token filename')

#set($expect.timeout = 15)
#set($expect.failOnTimeout = true)
#set($expect.failOnEOF = true)

#foreach($alteon in $alteons)
    #select($alteon)
	#savereplies(false)
		/c/slb/dataclss/class acme_responses string/rem $TOKEN_FILENAME
        $alteon.commit()
	#end
#end
